<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h1>IDEO Device Rental</h1>
				<p>What would you like to do?</p>
				<a class="btn btn-large btn-default" href="/devices?rented=true">Return a device</a>
				<a class="btn btn-primary btn-large" href="/devices">Find a device</a>
			</div>
		</div>
 	</div>
</div>