<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi <%= @rental.renter %></h1>
    <p>
      Our records show that you have a overdue device rental with the d Shop.
    </p>
    <p>
      To return the device, please go to <a href='http://rentsys.herokuapp.com/devices'>this site</a>
    </p>
    <p>Thanks!</p>
  </body>
</html>